
#container{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/beach.jpeg);
    
    background-size:cover;
    min-height: 100vh;
}

#container.switch{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/desert.jpg);
    background-size:cover;
    min-height: 100vh;
}

header {
    margin: 0 auto 2em auto;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}

header h1{
  font-family: "Sansita Swashed", system-ui;

  font-weight: 500;
  font-style: normal;
  font-size: 42px;
  color: #FFF;
  margin-top: 20px;
  order: 0;
}

header h2{
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  margin-top: 0px;
  color: #FFF;
  order:-1;
}

#title1.switch{
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 62px;
  color: #FFF;
  margin-top: 20px;
  margin-bottom: 15px;
  order: 0;
}

#title2.switch{
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}

main h3{
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #FFF;
   margin-bottom: 5px;
}

h3.switch{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: #FFF;
   margin-bottom: 5px;
}

main a{
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #ececff;
  position: relative;
  z-index: 0;
  text-decoration:none;
}

main.switch a{
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  color: #ececff;
  position: relative;
  z-index: 0;
  text-decoration:none;
}

nav{
  margin-top: 0px ;
  padding-top: 0px;
  margin-bottom: 15px;
  border-radius: 12px;
  background: rgb(57, 151, 144,.5); 
  padding: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 2.4em;
  backdrop-filter: blur(10px);
}

nav.switch{
  padding-top: 0px;
  margin-bottom: 15px;
  border-radius: 12px;
  /* background: #6e587a;  */
  padding: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 2.4em;

  background:rgba(72, 54, 81, 0.4);
  backdrop-filter: blur(10px);
}

#banner {
    display:flex;
    position: relative;

    width: 1100px;
    height: 150px;
    margin: auto;
    overflow: visible;

   /*Referenced this animation online and was able to understand the code, credit Adam Abundis, link:https://www.sliderrevolution.com/resources/css-animated-background/*/
    animation: scroll 100s linear infinite;
    background:url("images/ocean2.jpg"), repeat scroll 0 0;
    perspective-origin: 50% 50%;

    background-size:cover;
    color: #eee;

    
}

@keyframes scroll{
  100% {
    background-position: 0px -400%;
  }
}

#banner.switch {
    background: url("images/desert5.jpg"), repeat scroll 0 0;
    background-size:cover;
    animation: scroll 300s linear infinite;
    transition: all 2s;
    perspective-origin: 50% 50%;
}


main a::before {
  background: hsl(224, 99%, 42%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

main a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

main a:hover{
    color:#90f6d2;
}

nav.switch a::before{
  background: hsl(278, 73%, 19%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

nav.switch a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}


nav.switch a:hover{
  color:#cdc1f6;
}

ul{

    color: #e4e287;
    list-style-position: outside;
    padding-left: 0px;
 
}

li::marker{
    color:hsl(224, 99%, 42%);
    font-size: 2em;
}

main.switch li::marker{
  color:#FFDD4D;
  font-size: 2em;
}

main section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button{
    /* position:absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%); */
    position: relative;
    top: 20%;
    left:360px;
    margin-top: 55px;
    margin-bottom: 55px;
    

    padding: 8px;
    border-radius: 12px;
    background: #00A390;

    box-shadow: 4px 7px 0.9px -2px rgba(3, 90, 167, 0.91);
    border: none;
    color: #FFF;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    z-index: 10;
}

button:hover {
   font-family: "Cabin Sketch", sans-serif;
   font-weight: 400;
   font-style: normal;
    font-size: 24px;
    background-color: #722CCF;
    box-shadow: 4px 7px 0.9px -2px rgba(72, 9, 140, 0.91);
    cursor: pointer;
    color:#dbe9f8;
}

button.switch{
    /* position:absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%); */
    position: relative;
    top: 20%;
    left:360px;
    margin-top: 55px;
    margin-bottom: 55px;
    
    padding: 8px;
    box-shadow: 2px 2px 0 0 #000;
    border-radius: 12px;
    z-index: 10;

    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color:#dbe9f8;
    background-color: #722CCF;
    box-shadow: 4px 7px 0.9px -2px rgba(72, 9, 140, 0.91);
}

button.switch:hover{
    background: #00A390;
    box-shadow: 4px 7px 0.9px -2px rgba(3, 90, 167, 0.91);
    color: #FFF;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    cursor: pointer;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color:#00344e;
  min-height: 35px;
}

footer a{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color:#c1e0f6;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
}

footer.switch{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color:#2d0950;
  min-height: 35px;
}

footer.switch a{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color:#e0c1f6;
  text-decoration: none;
}

footer.switch a:hover{
  text-decoration: underline;
}

main{
  margin-bottom: 0px;
  padding-bottom: 15px;
}


@media screen and (min-width: 600px) {
    header {
        flex-direction: column;
        margin-bottom: 0px;
    }

    #title{
        display: flex;
        align-items: baseline;
        gap: 45px;
        margin: auto;
    }

    #title1.switch{
      margin-bottom: 0;
      margin-top: 5px;
      font-size: 72px;
    }

    #title2.switch{
      margin-bottom: 0;
      font-size: 20px;
    }
    header h1{
        order: -1;
        font-size: 62px;
        margin-bottom: 0px;
    }

    header h2{
        order:0;
    }

    #banner{
        height: 200px;
        
    }
    
    main {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: 1em auto;
        padding-bottom: 0px;
    }

    main section {
        margin: 0 .25em;
        padding: 1em;
    }

    main a{
        font-size: 16px;
    }

    main.switch a{
      font-size: 16px;
      line-height: 2.2em;
    }

    nav{
        line-height: 1.8em;
        background: rgb(57, 151, 144,.2); 
        backdrop-filter: blur(10px);
    }

    nav.switch{
      line-height: 1.8em;
      background:rgba(92, 72, 102, 0.4);
      backdrop-filter: blur(10px);
    }

    section nav{
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 0;
    }

      section nav.switch{
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 0;
    }

    main section h3{
        padding-top: 0px;
        margin-top: 0px;
    }

    button{
      top: 30%;
      left:85%;
      margin-top: 80px;
      margin-bottom: 80px;
    }

    button.switch{
       top: 30%;
      left:85%;
      margin-top: 80px;
      margin-bottom: 80px;
    }

    footer{
      margin-top: -35px;
    }

    footer.switch{
      margin-top:-35px;
    }
}



