

body{
    background-color: #1A1A1A;
}
header{
  margin: auto;
  text-align: center;
  font-family: "Science Gothic", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  color: #C4FF4D;
}

h2{
  margin: auto;

  font-family: "Science Gothic", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #BA8CFF;
  line-height: 1.4em;
}

p{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #f6f4fd;
  line-height: 1.4em;
}

div{
  text-align: justify;
  margin-bottom: 60px;
}

main{
  max-width: 650px;
  margin:auto;
}

a {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #f6f4fd;
}

a:hover{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #f6f4fd;
}

.portal {
  margin: 30px;
}

.portal a {
  text-decoration: none;
}

.portal:hover{
  text-decoration: underline;
   color: #f6f4fd;
}

.missing{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    margin-top: 25px;
    margin-bottom: 25px;
}

.missing a:hover{
  color:#C4FF4D;
}

.universe{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    margin-top: 25px;
    margin-bottom: 25px;
}

.universe a:hover{
      color:#C4FF4D;
}

h3{
    margin: auto;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;

  line-height: 1.5em;
 
  color: #d4b9fb;
  margin-top: 15px;
}

.citation{
    margin-bottom: 30px;
}