

body{
    background-color: #1A1A1A;
}
header{
  margin: auto;
  text-align: center;
  font-family: "Science Gothic", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  color: #C4FF4D;
}

h2{
  margin: auto;

  font-family: "Science Gothic", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #BA8CFF;
}

p{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #f6f4fd;
  line-height: 1.4em;
}

div{
  text-align: justify;
}

main{
  max-width: 650px;
  margin:auto;
}

a {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #f6f4fd;
  text-decoration: none;
}

.portal{
  margin: 30px;
}

.portal:hover{
  text-decoration: underline;
   color: #f6f4fd;
}